.pokemons {
  width: 60%;
  margin: 20px 20px 0px 20px;
  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__content {
    width: 100%;
  }
  &__block {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
  }
  &__block_num {
    margin-right: 5px;
  }
  &__btn {
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto
  }
}